@model IEnumerable<SellerApplicationViewModel>

<div class="container mt-4">
    <h2>All Applications</h2>

    <div class="row">
        <div class="col">
            <h3>Pending Applications</h3>
            @await Html.PartialAsync("_ApplicationsTable", Model.Where(a => a.State == "Pending"))
        </div>
        <div class="col">
            <h3>Approved Applications</h3>
            @await Html.PartialAsync("_ApplicationsTable", Model.Where(a => a.State == "Approved"))
        </div>
        <div class="col">
            <h3>Declined Applications</h3>
            @await Html.PartialAsync("_ApplicationsTable", Model.Where(a => a.State == "Declined"))
        </div>
    </div>
</div>
