@model CommentViewModel

<div class="card mt-2">
    <div class="card-body">
        <h5 class="card-title">User: @Model.User</h5>
        <p class="card-text">Comment: @Model.Content</p>
        <p class="card-text">Posted on: @Model.PostedDate</p>
    </div>
</div>