@model IEnumerable<CategoryViewModel>

<h1>Categories</h1>

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="path/to/category-image.jpg" class="card-img-top" alt="Category Image">
                <div class="card-body">
                    <h5 class="card-title">@category.Name</h5>
                    <p class="card-text">Category description or additional information.</p>
                    <a href="@Url.Action("Assets", "Category", new { categoryId = category.Id })" 
                    class="btn btn-primary">View Assets</a>
                </div>
            </div>
        </div>
    }
</div>
